<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <div class="conta">
    <ion-label class="numero">0</ion-label>
    <ion-label class="resultado">0</ion-label>
  </div>

<div class="auau">
        <ion-button class="botao4">MC</ion-button>


        <ion-button class="botao4">MR</ion-button>

        <ion-button  class="botao4">M+</ion-button>

        <ion-button  class="botao4">M-</ion-button>

        <ion-button class="botao4">MS</ion-button>

        <ion-button class="botao4">M'</ion-button>

</div>

  <div class="grid">

        <ion-button expand="full" class="botao2">%</ion-button>

        <ion-button expand="full" class="botao2">√	</ion-button>

        <ion-button expand="full" class="botao2">x²</ion-button>

        <ion-button expand="full" class="botao2">⅟x</ion-button>


        <ion-button expand="full" class="botao2">CE</ion-button>

        <ion-button expand="full" class="botao2">C</ion-button>

        <ion-button expand="full" class="botao2">
          <ion-icon name="backspace-outline" ></ion-icon>
        </ion-button>
        <ion-button expand="full" class="botao2 aaa">÷</ion-button>
    <ion-button expand="full"  class="botao1">7</ion-button>
    <ion-button expand="full"  class="botao1" >8</ion-button>
    <ion-button expand="full"  class="botao1">9</ion-button>
    <ion-button expand="full" class="botao2 aaa">X</ion-button>
    <ion-button expand="full"  class="botao1">4</ion-button>
    <ion-button expand="full"  class="botao1">5</ion-button>
    <ion-button expand="full"  class="botao1">6</ion-button>
    <ion-button expand="full"  class="botao2 aaa" >-</ion-button>
    <ion-button expand="full"  class="botao1" >1</ion-button>
    <ion-button expand="full"  class="botao1">2</ion-button>
    <ion-button expand="full"  class="botao1">3</ion-button>
    <ion-button expand="full" class="botao2 aaa">+</ion-button>
    <ion-button expand="full"  class="botao2">±</ion-button>
    <ion-button expand="full"  class="botao1">0</ion-button>
    <ion-button expand="full"  class="botao2">,</ion-button>
    <ion-button expand="full" class="botao2 aaa">=</ion-button>
  </div>

</ion-content>
