.botao1{
  --background: #6495ED;
  --border-radius: 0%;
  width: 55px;
  height: 55px;

}

.botao3{
  --background: #2845a5;
  --border-radius: 0%;
  width: 55px;
  height: 55px;

}
.botao2{
  --background: #4169E1;
  --border-radius: 0%;
  width: 55px;
  height: 55px;

}
