<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora v2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Operação</ion-label>
    <ion-input placeholder="Enter Input"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Resultado</ion-label>
  </ion-item>


  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" class="botao2">%</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" class="botao2">√	</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" class="botao2">x²</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" class="botao2">⅟x</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" class="botao2">CE</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" class="botao2">C</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" class="botao2">
          <ion-icon name="backspace-outline" ></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" class="botao2">÷</ion-button>
      </ion-col>
    </ion-row>


  <ion-row>
    <ion-col>
      <ion-button expand="block"  class="botao1">7</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block"  class="botao1" >8</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block"  class="botao1">9</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" class="botao2">X</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button expand="block"  class="botao1">4</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block"  class="botao1">5</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block"  class="botao1">6</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" class="botao2">-</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button expand="block"  class="botao1" >1</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block"  class="botao1">2</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block"  class="botao1">3</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" class="botao2">+</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button expand="block"  class="botao1">±</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block"  class="botao1">0</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block"  class="botao1">,</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" class="botao3">=</ion-button>
    </ion-col>
  </ion-row>

  </ion-grid>

</ion-content>
